hikari
hikari_lightbulb
python-dotenv
pandas
requests
openai
pyyaml
loguru
hikari-miru
websockets
langchain
langchain-community
langchain-chroma
langchain-openai
langchain-text-splitters
chromadb
pypdf